/*
font-family: 'Merriweather', serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Sacramento', cursive;
*/
body {
    font-family: 'Merriweather', serif;
    margin: 0px;
    text-align: center;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-top-color: lightgrey;
    border-top-width: 5px;
    width: 5%;
    padding: 1%;
}
h1 {
    color: #4ab19a;
    font-family: 'Sacramento', cursive;
    font-size: xxx-large;
    margin: 0px;
}
h3, h2 {
    color: #66BFBF;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px;
}

.top_div {
    background-color: #EAF6F6;
    padding-top: 130px;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    position: relative;
}
.middle_div {
    background-color: #EAF6F6;
    height: auto;
    padding: 20px;
    width: auto;
}
.bottom_div {
    background-color: #EAF6F6;
    height: auto;
    padding: 20px;
    width: auto;
}
.sub_heading1 {
    color: #4ab19a;
}
.cloud_top {
    position: relative;
    left: 30%;
}
.cloud_bottom {
    position: absolute;
    left: 20%;
}
.skills-table {
    border: solid;
}
.edu {
    text-align: justify;
}
.mountain {
    position: relative;
    bottom: 0;
}